<template>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Maak een nieuwe Taak</div>

        <!-- name -->
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right label">Naam:</label>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control input"
                v-model="task.name"
                @keyup="clearErrors('name')"
              />
            </div>
            <ul v-if="this.errors.has('name')">
              <li v-for="(error, key) in errors.errors.name" :key="key">{{ error }}</li>
            </ul>
          </div>

          <!-- description -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right label">Samenvatting:</label>
            <div class="col-md-6">
              <textarea
                type="text"
                class="form-control"
                v-model="task.description"
                @keyup="clearErrors('description')"
              ></textarea>
            </div>
            <ul v-if="this.errors.has('description')">
              <li v-for="(error, key) in errors.errors.description" :key="key">{{ error }}</li>
            </ul>
          </div>

          <!-- content -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right label">Taak:</label>
            <div class="col-md-6">
              <textarea
                type="text"
                class="form-control"
                v-model="task.content"
                @keyup="clearErrors('content')"
              ></textarea>
            </div>
            <ul v-if="this.errors.has('content')">
              <li v-for="(error, key) in errors.errors.content" :key="key">{{ error }}</li>
            </ul>
          </div>

          <!-- Upload image comes here -->

          <button @click="saveTask()">Voeg Toe</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../custom/errors.js";
import BlankTask from "../../custom/BlankTask.js";

export default {
  data() {
    return {
      task: new BlankTask(),
      errors: new Errors("name", "description", "content", "image")
    };
  },

  methods: {
    saveTask() {
      this.validate();

      if (!this.errors.any()) {
        this.$store.commit("saveTask", this.task);
        this.task = new BlankTask();
      }
    },

    validate() {
      // TODO:: elaborate on validation (length, name is unique, image...)
      if (!this.task.name) {
        this.errors.record("name", "Een naam is verplicht");
      }

      if (!this.task.description) {
        this.errors.record("description", "Een omschrijving is verplicht");
      }

      if (!this.task.content) {
        this.errors.record("content", "Beschrijf de taak");
      }
    },

    clearErrors(field) {
      this.errors.clear(field);
    }
  }
};
</script>
