<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header dropAllowed">
            <div class="card-body">
              <div>Pas een taak aan</div>

              <!-- task to edit -->
              <div class="form-group row">
                <label>Welke taak wil je aanpassen?</label>
                <div class="col-md-6">
                  <select class="custom-select" v-model="chosenTask" @change="setEditTask()">
                    <option
                      v-for="(task, key) in tasks"
                      :key="key"
                      :value="task"
                    >{{ task.id }} : {{ task.name }}</option>
                  </select>
                </div>
              </div>

              <div>
                <!-- name -->
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Naam:</label>
                    <div class="col-md-6">
                      <input
                        type="text"
                        class="form-control input"
                        v-model="editTask.name"
                        @keyup="clearErrors('name')"
                      />
                    </div>
                    <ul v-if="this.errors.has('name')">
                      <li v-for="(error, key) in errors.errors.name" :key="key">{{ error }}</li>
                    </ul>
                  </div>

                  <!-- description -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Samenvatting:</label>
                    <div class="col-md-6">
                      <textarea
                        type="text"
                        class="form-control"
                        v-model="editTask.description"
                        @keyup="clearErrors('description')"
                      ></textarea>
                    </div>
                    <ul v-if="this.errors.has('description')">
                      <li v-for="(error, key) in errors.errors.description" :key="key">{{ error }}</li>
                    </ul>
                  </div>

                  <!-- content -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Taak:</label>
                    <div class="col-md-6">
                      <textarea
                        type="text"
                        class="form-control"
                        v-model="editTask.content"
                        @keyup="clearErrors('content')"
                      ></textarea>
                    </div>
                    <ul v-if="this.errors.has('content')">
                      <li v-for="(error, key) in errors.errors.content" :key="key">{{ error }}</li>
                    </ul>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label text-md-right label">Status:</label>
                  <div class="col-md-6">
                    <select class="custom-select" v-model="editTask.status">
                      <option :value="1">Nieuwe Taak</option>
                      <option :value="2">Mee Bezig</option>
                      <option :value="3">Klaar</option>
                    </select>
                  </div>
                  <ul v-if="this.errors.has('status')">
                    <li v-for="(error, key) in errors.errors.status" :key="key">{{ error }}</li>
                  </ul>
                </div>

                <button @click="setEditTask()">Verwijder veranderingen</button>
                <button @click="updateTask()">Sla op</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../custom/errors.js";

export default {
  data() {
    return {
      chosenTask: {},
      errors: new Errors("name", "description", "content", "image", "status")
    };
  },

  methods: {
    updateTask() {
      this.validate();

      if (!this.errors.any()) {
        this.$store.commit("updateTask", this.editTask);
      }
    },

    validate() {
      // TODO:: elaborate on validation (length, name is unique, image...)
      if (!this.editTask.name) {
        this.errors.record("name", "Een naam is verplicht");
      }

      if (!this.editTask.description) {
        this.errors.record("description", "Een omschrijving is verplicht");
      }

      if (!this.editTask.content) {
        this.errors.record("content", "Beschrijf de taak");
      }

      if (!this.editTask.status) {
        this.errors.record("status", "Geef de status van de taak aan");
      }
    },

    clearErrors(field) {
      this.errors.clear(field);
    },

    setEditTask() {
      this.$store.commit("setEditTask", this.chosenTask);
    }
  },

  computed: {
    tasks() {
      return this.$store.getters.allTasks;
    },

    editTask() {
      const editTask = this.$store.getters.getEditTask;
      return editTask;
    }
  },

  mounted() {
    if (this.editTask) {
      this.chosenTask = { ...this.editTask };
    }
  }
};
</script>
