<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header dropAllowed">
            <div class="card-body">
              <h3>Takenoverzicht</h3>
              <searchInput :parameters="searchParameters" @reset="resetParameters($event)" />
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>✔?</th>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Omschrijving</th>
                    <th>Status</th>
                    <th>Handeling</th>
                  </tr>
                </thead>
                <tbody>
                  <task v-for="task in paginatedTasks" :key="task.id" :task="task" />
                </tbody>
              </table>
              <paginationButtons :amountPages="maxPages" @changedPage="changePage($event)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import task from "../Task.vue";
import searchInput from "../SearchInput.vue";
import paginationButtons from "../PaginationButtons.vue";

const createParameters = () => ({
  status: undefined,
  textSearch: "",
  textSearchContent: ""
});

export default {
  components: { task, searchInput, paginationButtons },

  data() {
    return {
      searchParameters: createParameters(),
      pages: [],
      page: 1,
      perPage: 15,
      maxPages: 5
    };
  },

  computed: {
    tasks() {
      return this.$store.getters.allTasks;
    },

    amountTasks() {
      return this.filteredTasks.length;
    },

    paginatedTasks() {
      return this.paginate(this.filteredTasks);
    },

    filteredTasks(tasks) {
      const that = this;
      return that.tasks.filter(function(task) {
        if (that.searchParameters.textSearch) {
          if (
            !task.name
              .toLowerCase()
              .includes(that.searchParameters.textSearch.toLowerCase()) &&
            !task.description
              .toLowerCase()
              .includes(that.searchParameters.textSearch.toLowerCase())
          ) {
            return false;
          }
        }

        if (that.searchParameters.textSearchContent) {
          if (
            !task.content
              .toLowerCase()
              .includes(that.searchParameters.textSearchContent.toLowerCase())
          ) {
            return false;
          }
        }

        if (that.searchParameters.status) {
          if (task.status !== that.searchParameters.status) {
            return false;
          }
        }

        return true;
      });
    }
  },

  methods: {
    resetParameters(type) {
      if (type == "all") {
        this.searchParameters = createParameters();
      } else {
        this.searchParameters[type] = createParameters()[type];
      }
    },

    paginate(tasks) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      this.setPages();
      return tasks.slice(from, to);
    },

    setPages() {
      this.pages = [];
      let numberOfPages = Math.ceil(this.amountTasks / this.perPage);
      for (let i = 1; i < numberOfPages + 1; i++) {
        this.pages.push(i);
      }
      this.maxPages = this.pages.length;
    },

    changePage(newPage) {
      this.page = newPage;
    }
  }
};
</script>