<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header dropAllowed">
            <div class="card-body">
              <div>Pas een taak aan</div>

              <!-- task to edit -->
              <div class="form-group row">
                <label>Welke taak wil je bekijken?</label>
                <div class="col-md-6">
                  <select class="custom-select" v-model="chosenTask" @change="setShowTask()">
                    <option
                      v-for="(task, key) in tasks"
                      :key="key"
                      :value="task"
                    >{{ task.id }} : {{ task.name }}</option>
                  </select>
                </div>
              </div>

              <div>
                <!-- name -->
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Naam:</label>
                    <div class="col-md-6">
                      <div>{{ showTask.name}}</div>
                    </div>
                  </div>

                  <!-- description -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Samenvatting:</label>
                    <div class="col-md-6">
                      <div>{{ showTask.description}}</div>
                    </div>
                  </div>

                  <!-- content -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Taak:</label>
                    <div class="col-md-6">
                      <div>{{ showTask.content }}</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right label">Status:</label>
                    <div class="col-md-6">
                      <div>{{ showTask.condition}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      chosenTask: {}
    };
  },

  methods: {
    setShowTask() {
      this.$store.commit("setShowTask", this.chosenTask);
    }
  },

  computed: {
    tasks() {
      return this.$store.getters.allTasks;
    },

    showTask() {
      const showTask = this.$store.getters.getShowTask;
      return showTask;
    }
  },

  mounted() {
    if (this.showTask) {
      this.chosenTask = { ...this.showTask };
    }
  }
};
</script>