<template>
  <div v-if="amountPages > 1">
    <button type="button" @click="currentPage= 1; changePages()">Eerste</button>
    <button type="button" @click="currentPage--; changePages()">Vorige</button>
    <button
      type="button"
      v-if="(currentPage - 2) > 0"
      @click="currentPage -= 2; changePages()"
    >{{ currentPage - 2 }}</button>
    <button
      type="button"
      v-if="(currentPage - 1) > 0"
      @click="currentPage -= 1; changePages()"
    >{{ currentPage - 1 }}</button>
    <button type="button" style="background: green">{{ currentPage }}</button>
    <button
      type="button"
      v-if="(currentPage + 1) <= amountPages"
      @click="currentPage += 1; changePages()"
    >{{ currentPage + 1 }}</button>
    <button
      type="button"
      v-if="(currentPage + 2) <= amountPages"
      @click="currentPage += 2; changePages()"
    >{{ currentPage + 2 }}</button>
    <button type="button" @click="currentPage++; changePages()">Volgende</button>
    <button type="button" @click="currentPage = amountPages; changePages()">Laatste</button>
  </div>
</template>

<script>
export default {
  props: {
    amountPages: {
      type: Number,
      required: true
    }
  },

  watch: {
    amountPages(newPageAmount) {
      if (this.currentPage > newPageAmount) {
        this.resetCurrentPage();
      }
    }
  },

  data() {
    return {
      currentPage: 1
    };
  },

  methods: {
    resetCurrentPage() {
      (this.currentPage = 1), this.$emit("changedPage", this.currentPage);
    },

    changePages() {
      if (this.currentPage > this.amountPages) {
        this.currentPage = this.amountPages;
      }
      if (this.currentPage < 1) {
        this.currentPage = 1;
      }
      this.$emit("changedPage", this.currentPage);
    }
  }
};
</script>