<template>
  <div>
    <div>
      <h4>Zoekfilters :</h4>

      <div class="collapse" id="collapseFilters">
        <!-- reset all search options -->
        <div class="form-group">
          <button class="btn btn-lg btn-primary" @click="resetForm('all')">Reset alle zoekopties</button>
        </div>

        <!-- textSearch name/description-->
        <div class="form-group">
          <div class="adminpanel-searchbar">
            <input
              class="form-control"
              type="text"
              placeholder="Zoeken op naam en/of omschrijving"
              v-model="parameters.textSearch"
              @input="searchTasks()"
            />
            <button
              class="btn btn-primary resetForm"
              @click="resetForm('textSearch')"
            >Reset zoekoptie</button>
          </div>
        </div>

        <!-- textSearch content-->
        <div class="form-group">
          <div class="adminpanel-searchbar">
            <input
              class="form-control"
              type="text"
              placeholder="Zoeken in de taak zelf"
              v-model="parameters.textSearchContent"
              @input="searchTasks()"
            />
            <button
              class="btn btn-primary resetForm"
              @click="resetForm('textSearchContent')"
            >Reset zoekoptie</button>
          </div>
        </div>

        <!-- Price -->
        <div class="form-group">
          <label>Selecteer op Status:</label>
          <select class="custom-select" v-model="parameters.status" @input="searchTasks()">
            <option
              v-for="(status, key) in statusses"
              :key="key"
              :value="status.status"
            >{{ status.name }}</option>
          </select>
          <button class="btn btn-primary resetForm" @click="resetForm('status')">Reset zoekoptie</button>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    parameters: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      statusses: [
        { status: 1, name: "Nieuwe Taak" },
        { status: 2, name: "Mee Bezig" },
        { status: 3, name: "Klaar" }
      ]
    };
  },

  methods: {
    resetForm(type) {
      this.$emit("reset", type);
    },

    searchTasks() {
      this.$emit("search", this.parameters);
    }
  }
};
</script>
