
<template>
  <tr v-bind:style="background">
    <td>
      <button @click="toggleStatus()">{{ statusMark }}</button>
    </td>
    <td>{{ task.id }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.condition }}</td>
    <td>
      <button @click="showTask()">Bekijk Taak</button>
      <button @click="editTask()">Wijzig Taak</button>
      <button @click="deleteTask()">Verwijder Taak</button>
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },

  computed: {
    background() {
      if (this.task.status === 1) {
        return "background: lightblue;";
      }
      if (this.task.status === 2) {
        return "background: yellow;";
      }
      if (this.task.status === 3) {
        return "background: lightgreen;";
      }
    },

    statusMark() {
      if (this.task.status === 1) {
        return "⚪︎";
      }
      if (this.task.status === 2) {
        return "⛏";
      }
      if (this.task.status === 3) {
        return "✔";
      }
    }
  },

  methods: {
    deleteTask() {
      this.$store.commit("deleteTask", this.task);
    },

    showTask() {
      this.$store.commit("setShowTask", this.task);
      this.$router.push("/tasks/show");
    },

    editTask() {
      this.$store.commit("setEditTask", this.task);
      this.$router.push("/tasks/edit");
    },

    toggleStatus() {
      this.$store.commit("toggleStatus", this.task);
    }
  }
};
</script>

